<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
    <a class="cat-item rounded p-4" href="">
        <h6 class="mb-3">Visa</h6>
        <p class="mb-0">3586 Cards</p>
    </a>
</div>
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
    <a class="cat-item rounded p-4" href="">
        <h6 class="mb-3">American Express</h6>
        <p class="mb-0">679 Cards</p>
    </a>
</div>
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
    <a class="cat-item rounded p-4" href="">
        <h6 class="mb-3">Mastercard</h6>
        <p class="mb-0">2636 Cards</p>
    </a>
</div>
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
    <a class="cat-item rounded p-4" href="">
        <h6 class="mb-3">Maestro</h6>
        <p class="mb-0">2383 Cards</p>
    </a>
</div>
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
    <a class="cat-item rounded p-4" href="">
        <h6 class="mb-3">China Union Pay</h6>
        <p class="mb-0">3842 Cards</p>
    </a>
</div>
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
    <a class="cat-item rounded p-4" href="">
        <h6 class="mb-3">Discover</h6>
        <p class="mb-0">987 Cards</p>
    </a>
</div>
<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
    <a class="cat-item rounded p-4" href="">
        <h6 class="mb-3">Fuel Cards</h6>
        <p class="mb-0">3892 Cards</p>
    </a>
</div>